.Parent{
    display: inline-block;
    padding: 20px;
    background-color: #860F0F;
}

.Broadcaster{
    background-color: #860F0F;
    width: 100%;
    margin-top: 40px;
    padding-top: 30px;
}

.meet{
    color: white;
    text-align: center;
}
